<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <% if list.photo.attached? %>
      <%= cl_image_tag list.photo.key, height: 250, width: 250, crop: :thumb %>
    <% end %>
    <li><%= link_to list.name, list_path(list)%></li>
  <% end %>
</ul>

<p><%= link_to "Add a new list",  new_list_path%></p>
